
<aside class="hide">
    <!-- <div>
        <img src="../img/default.jpg" alt="">
        <h5>您还没有登录，点击登录</h5>
    </div> -->
    <div class="aside_mask"></div>
    <section class="aside_box">
        <div class="user_head_box" id="user_info" data-address="<%= address %>" >
            <div class="user_head_info" style="text-align:center;">
                <!--/users/user_photo-->
                <a href="javascript:;" class="user_photo"><img id="user_info_photo" src="../img/default.jpg" alt=""></a> 
                <div class="user_name" >
                    <p  style="line-height:1.2rem;" id="user_info_nickname"> mine </p>
                    <!--  -->
                </div>
                <!-- <button class="cop" data-clipboard-action="copy" data-clipboard-target="#user_address">复制</button> -->
            </div>
        </div>
        <div>
            <div class="userinfo_box" >
                <div class="userinfo_item">
                    <i class="iconfont icon-qianbao font20 fontc_b"></i>
                    <a  href="javascript:;">
                        <span class="fontc_73 font14">我的钱包</span>
                    </a>
                </div>
            </div>
            <div class="userinfo_box" >
                <div class="userinfo_item">
                    <i class="iconfont icon-zhanghu font22 fontc_b"></i>
                    <a  href="javascript:;">
                        <span class="fontc_73 font14">账户管理</span>
                    </a>
                </div>
                <div class="userinfo_item">
                    <i class="iconfont icon-qia01 font20 fontc_b"></i>
                    <a  href="javascript:;">
                        <span class="fontc_73 font14">支付管理</span>
                    </a>
                </div>
                <div class="userinfo_item">
                    <i class="iconfont icon-anquan font24 fontc_b"></i>
                    <a  href="javascript:;">
                        <span class="fontc_73 font14">安全中心</span>
                    </a>
                </div>
                <div class="userinfo_item">
                    <i class="iconfont icon-wode-jiaoyisuoguanli-18 font20 fontc_b "></i>
                    <a  href="javascript:;">
                        <span class="fontc_73 font14">费率标准</span>
                    </a>  
                </div>
            </div>
            <div class="userinfo_box" style="border:0;">
                <div class="userinfo_item">
                    <i class="iconfont icon-portal-icon-bangzhu font20 fontc_b "></i>
                    <a  href="javascript:;" >
                        <span class="fontc_73 font14">我的工单</span>
                    </a>  
                </div>    
                <div class="userinfo_item">
                    <i class="iconfont icon-hongqi-chengse font24 fontc_b "></i>
                    <a  href="javascript:;">
                        <span class="fontc_73 font14">关于我们</span>
                    </a>
                </div>     
                <div class="userinfo_item">
                    <i class="iconfont icon-banbengengxin font24 fontc_b "></i>
                    <a  href="javascript:;" id="my_subTeam">
                        <span class="fontc_73 font14">版本更新</span>
                    </a>
                </div>
            </div>
            
        </div>
    </section>
</aside>
