<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>绑定邮箱</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <!-- <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../css/global.css" /> -->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
    <link href="/mobile/lib/layer_mobile/need/layer.css?2.0" type="text/css" rel="styleSheet" id="layermcss">

    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/lib/layer_mobile/layer.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>
    <script type="text/javascript" src="../js/jquery.cookie.js"></script>
    <script type="text/javascript" src="../js/H5lock.js"></script>
</head>
<style type="text/css">
    body {
        text-align: center;
        background-color: #305066;
    }
    .title {
        color: #22C3AA;
    }
</style>
<body >
   
</body>
</html>