<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>资讯详情</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../css/global.css" />
    <link rel="stylesheet" type="text/css" href="../css/iconfont/iconfont.css" />
</head>
    <style>
        #content img{
            width:100%;
        }
    </style>
<body>
    <header class="borderB" style="background: #10172b;">
        <i class="iconfont icon-zuo font24  fontc_f backPage"></i>
        <h1 class="fontc_f">资讯详情</h1>
	</header>

    <section class="mgthead">
        <div style="padding:.6rem">
            <h4 id="title" style="text-align: center;"></h4>
            <div class="font12 mgt10 mgb10">
                <span class="fontc_hdl" id="keyword"></span>
                <p class="fontc_9" id="time"></p>
            </div>
            <div id="content">
                
            </div>
        </div>
    </section>

	<script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/lib/layer_mobile/layer.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>
    <script>
       $(function(){
            var id = get_param("id");
            $.ajax({
                type: "post",
                url: _API + "news/detail",
                data: {id:id},
                dataType: "json",
                success: function(data){
                    if (data.type == "ok"){
                            $("#title").html(data.message.title);
                            $("#keyword").html(data.message.keyword);
                            $("#time").html(data.message.update_time);
                            $("#content").html(data.message.content);
                        } else{
                            layer_msg(data.message)
                            return false;
                        }
                }
            });     
        })
    </script>
</body>
</html>