<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>全球行情</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../css/global.css" />
    <link rel="stylesheet" type="text/css" href="../css/iconfont/iconfont.css" />
</head>
<style type="text/css">
	
</style>
<body style="background: #f5f5f5;">
    <header class="borderB" style="background: #10172b;">
            <i class="iconfont icon-zuo font24  fontc_f backPage"></i>
        <h1 class="fontc_f">全球行情</h1>
    </header>
    <div class="mgthead">
        <ul class="market_box">
            <li class="market_item">
                <div class="market_list_head">
                    <p>
                        <span>Kraken</span>
                        <span class="font14 fontc_6">ETH/USD</span>
                    </p>
                    <span class="coin_updown">-1.86%</span>
                </div>
                <div>
                    <div>
                        <p class="font12 fontc_9">$569.63</p>
                        <p>￥3564.96</p>
                    </div>
                    <div class="font12 fontc_9">
                        <p>高<span>￥3340.56</span></p>
                        <p>低<span>￥3340.56</span></p>
                        <p>量<span>3340.56</span></p>
                    </div>
                </div>
            </li>
            <li class="market_item">
                <div class="market_list_head">
                    <p>
                        <span>Kraken</span>
                        <span class="font14 fontc_6">ETH/USD</span>
                    </p>
                    <span class="coin_updown coin_down">+1.86%</span>
                </div>
                <div>
                    <div>
                        <p class="font12 fontc_9">$569.63</p>
                        <p>￥3564.96</p>
                    </div>
                    <div class="font12 fontc_9">
                        <p>高<span>￥3340.56</span></p>
                        <p>低<span>￥3340.56</span></p>
                        <p>量<span>3340.56</span></p>
                    </div>
                </div>
            </li>
            <li class="market_item">
                <div class="market_list_head">
                    <p>
                        <span>Kraken</span>
                        <span class="font14 fontc_6">ETH/USD</span>
                    </p>
                    <span class="coin_updown">-1.86%</span>
                </div>
                <div>
                    <div>
                        <p class="font12 fontc_9">$569.63</p>
                        <p>￥3564.96</p>
                    </div>
                    <div class="font12 fontc_9">
                        <p>高<span>￥3340.56</span></p>
                        <p>低<span>￥3340.56</span></p>
                        <p>量<span>3340.56</span></p>
                    </div>
                </div>
            </li>
            <li class="market_item">
                <div class="market_list_head">
                    <p>
                        <span>Kraken</span>
                        <span class="font14 fontc_6">ETH/USD</span>
                    </p>
                    <span class="coin_updown">-1.86%</span>
                </div>
                <div>
                    <div>
                        <p class="font12 fontc_9">$569.63</p>
                        <p>￥3564.96</p>
                    </div>
                    <div class="font12 fontc_9">
                        <p>高<span>￥3340.56</span></p>
                        <p>低<span>￥3340.56</span></p>
                        <p>量<span>3340.56</span></p>
                    </div>
                </div>
            </li>
        </ul>
    </div>

	<script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/lib/layer_mobile/layer.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>
</body>
</html>