<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>订单管理</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../css/global.css" />
    <link rel="stylesheet" type="text/css" href="../css/iconfont/iconfont.css" />
</head>
<style type="text/css">
  .order_label{
    background: #ef2e0d;
    color: #fff;
    border-radius: 4px;
    margin-right: .6rem;
    height: 40px;  
    writing-mode: vertical-lr;
    writing-mode: tb-lr;
}
.order_label_green{
    background:#29a555;
}
  
</style>
<body class="">
    <header class="borderB" >
        <i class="iconfont icon-zuo font24 backPage fontc_6 "></i>
        <h1 class="fontc_3">订单管理</h1>
	</header>
    <!--上部分的买入卖出-->
    <section class=" mgthead mgbfoot">
        <div class="ctc_body_tab" style="margin-top:3rem;">
                <div class="history_order_box">
                    <div class="history_order_item">
                        <div class="bd0">
                            <p class="font14 fontc_hdl">我是小私</p>
                            <p class="fontc_6 font12">2018-07-19</p>
                        </div>
                        <div class="font12 fontc_9 bd0">
                            <div style="display: flex;">
                                <span class="order_label">买入</span>
                                <div>
                                    <span class="font_bold font16 fontc_hdl">5.66</span>
                                    <span>成交价格</span>
                                </div>
                            </div>
                            <div>
                                <span class="font_bold font16 fontc_hdl">66</span>
                                <span>成交数量</span>
                            </div>
                            <div>
                                <span class="font_bold font16 fontc_hdl">500</span>
                                <span>成交金额</span>
                            </div>  
                        </div>
                    </div>
                    <div class="history_order_item">
                            <div class="bd0">
                                <p class="font14 fontc_hdl">我是小私</p>
                                <p class="fontc_6 font12">2018-07-19</p>
                            </div>
                            <div class="font12 fontc_9 bd0">
                                <div style="display: flex;">
                                    <span class="order_label order_label_green">卖出</span>
                                    <div>
                                        <span class="font_bold font16 fontc_hdl">5.66</span>
                                        <span>成交价格</span>
                                    </div>
                                </div>
                                <div>
                                    <span class="font_bold font16 fontc_hdl">66</span>
                                    <span>成交数量</span>
                                </div>
                                <div>
                                    <span class="font_bold font16 fontc_hdl">500</span>
                                    <span>成交金额</span>
                                </div>  
                            </div>
                        </div>
                </div>
                <div class="black_png  mgthead hide">
                    <img src="/images/home/blank.png">
                </div>
        </div>
    </section>

	<script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/lib/layer_mobile/layer.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>
    <script>
        $(function(){

           
        })
    </script>
</body>
</html>